:root {
    font-size: 62.5%;
  }
  
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    background: #121214;
    font-size: 1.6rem;
    font-family: 'Roboto', sans-serif;

  }
  
  .hide{
    display: none;
  }
  .hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }

  .heroTimer span:not(:last-child) {
    margin-right: -2rem;
  }


  h1{
  font-size: 8.8rem;
  line-height: 10.3rem;
  text-transform: uppercase;
  color: #FFFFFF;
  }

  button{
    background: none;
    border: 0;
    cursor: pointer;
  }

  .heroNav{
    background: rgba(66, 211, 255, 0.13);
    border-radius: 9999px;
    padding: 2.2rem 4.0rem;
    gap: 3.2rem;
  }

  .heroNav button:nth-child(2), .heroPlay {
    margin-right: 3.2rem;
  }

  .sound {
    position: fixed;
    bottom: 0;
    right: 0;
    margin-right: 4.0rem;
    margin: 3.2rem 4.0rem 0 0;
  }

  #player, audio{
    display: none;
  }